body{
  font-family:Helvetica;
  margin:30px;
}
.container{
  width:350px;
}
h1{
  font-size:25px;
  text-shadow:1px 1px #eee;
  border-bottom: 1px solid #eee;
  padding:10px;
}
.time{
  line-height:24px;
  border-bottom:1px solid #f0f0f0;
}
.time.small{
  color:#aaa;
  font-size:10px;
  font-weight:normal;
  line-height:24px;
  border-bottom:1px solid #ddd;
}
/*.day{
  position:absolute;
  top:0;
  z-index:10;
  left:100px;
}*/
.event{
  width:330px;
  background:#b95451;
  position:relative;
  color:#fff;
  padding:10px;
  margin-bottom:3px;
  border-bottom:5px solid #ccc;
}
.event:hover{
  background:#722;
}
.summary{
  line-height:30px;
}
.day{
  background:#fff;
  color:#555;
  display:inline;
  float:left;
  line-height:30px;
  padding:0 10px;
  margin:0 10px 0 0;
  font-weight:bold;
}
.clearfix{
  clear:both;
}
.description, .location{
  font-size:12px;
  margin-top:10px;
  color:#fff;
  background:#b77;
  padding:5px;
}
